<!DOCTYPE html>
<html>
<head>
<title>Change Password</title>
<link rel="stylesheet" href="/static/style.css">
</head>
<body>

<div class="navbar">
<div class="logo">First Login Password Reset</div>
<div>
<a href="/logout">Logout</a>
</div>
</div>

<div class="container">
<div class="card" style="max-width:520px;margin:auto;">

<h2>Change Temporary Password</h2>

<p>
Your company-issued temporary password must be changed before accessing the system.
</p>

<p style="color:#d1d5db;font-size:14px;">
Password Rules:
<br>
• Minimum 8 characters
<br>
• One uppercase letter
<br>
• One lowercase letter
<br>
• One number
<br>
• One special character
</p>

{% if error %}
<p class="alert">{{ error }}</p>
{% endif %}

<form method="POST">

<input type="password"
name="new_password"
placeholder="New Strong Password"
required>

<input type="password"
name="confirm_password"
placeholder="Confirm Password"
required>

<button class="btn" type="submit">
Update Password
</button>

</form>

</div>
</div>

</body>
</html>